.filter-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  height: 75vh;
  background-color: #f9f9f9;
  z-index: 1000;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
}

.filter-container h1 {
  color: #333;
  margin-bottom: 1.5em;
  font-weight: bold;
  font-size: 22px;
}

.checkbox-filter {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  color: #333;
  font-weight: bold;
  font-size: 1em;
  margin: 1.5em 0;
  padding: 0 1em;
  text-align: left;
}

.checkbox-filter label {
  display: flex;
  align-items: center;
  gap: 1em;
}

.checkbox-filter input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  border: 2px solid #666;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.checkbox-filter.region input[type="checkbox"]:checked {
  background-color: #8FCB9B; 
  }
  
.checkbox-filter.executer input[type="checkbox"]:checked {
  background-color: #EFA65E; 
  }

.checkbox-filter.value input[type="checkbox"]:checked {
  background-color: #FFD700; 
  }

.checkbox-filter.type input[type="checkbox"]:checked {
  background-color: #FF6F61;
  }

.filter-btn {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 600px;
  padding: 0 10px;
}

.filter-btn button {
  font-size: 0.9rem;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.clean-btn {
  background-color: #ddd;
  color: #333;
}

.clean-btn:hover {
  background-color: #bbb;
  color: #fff;
}

.check-btn {
  background-color: #243f4d;
  color: #fff;
}

.check-btn:hover {
  background-color: #1b2e3a;
}

.filter-container .close-icon {
  font-size: 1.8em;
  color: #999;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;
  transition: color 0.3s;
}

.filter-container .close-icon:hover {
  color: #555;
}
