.map-container {
  position: absolute; 
  bottom: 0;          
  left: 0;
  width: 100%; 
  height: 40vh;       
  background-color: #243F4D;
  z-index: 1000;      
  padding: 10px;      
  text-align: center; 
  border-radius: 15px 15px 0 0;
}

h1 {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-top: 5px;
}

.btn-container-map {
  display: flex;
  justify-content: space-between;  
  align-items: center;  
  z-index: 1000;
  margin-top: 1em; 
}

.btn-container-left,
.btn-container-right {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  width: 30em;
}

.map-container button {
  display: flex;      
  align-items: center;
  justify-content: flex-start; 
  margin: 8px 0;
  padding: 8px 10px; 
  border-radius: 5px; 
  color: black; 
  font-size: 15px;
  cursor: pointer; 
  width: 40vw;
  font-weight: bold;
  gap: 10px; 
}

.map-container .icon {
  font-size: 18px;
}

.green-btn-map {
  background-color: #8FCB9B;
}

.red-btn-map {
  background-color: #FF6F61;
}

.yellow-btn-map {
  background-color: #FFD700;
}

.orange-btn-map {
  background-color: #EFA65E;
}

.gray-btn-map {
  background-color: gray;
}

.login-container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;  
  gap: 1em;  
}

