.map-container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    height: 80vh;       
    background-color: #243F4D;
    z-index: 1000;      
    padding: 10px;      
    text-align: center; 
    border-radius: 15px;
}

.map-container h1 {
    color: white;
    font-weight: bolder;
    font-size: 16px;    
}

.btn-container-buttom {
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    z-index: 1000;
    margin-top: 1em; 
}

.btn-container-left,
.btn-container-right {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%;
    max-width: 30em;
}

.map-container button {
    display: flex;      
    align-items: center;
    justify-content: flex-start; 
    margin: 8px 0;
    padding: 8px 10px; 
    border-radius: 15px; 
    color: black; 
    font-size: 13px;
    cursor: pointer; 
    width: 100%;
    max-width: 32vw;
    font-weight: bold;
    gap: 10px; 
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em; 
    margin-top: 4em;
}

.button-group {
    display: flex;
    justify-content: center; 
    gap: 1em; 
}

.inter-text {
    margin-bottom: 0.5em; 
    margin-top: 2em;
}

.map-container .icon {
    font-size: 18px;
}

.green-btn-map {
    background-color: #8FCB9B;
}

.red-btn-map {
    background-color: #FF6F61;
}

.yellow-btn-map {
    background-color: #FFD700;
}

.orange-btn-map {
    background-color: #EFA65E;
}

.gray-btn-map {
    background-color: gray;
}

.purple-btn-map {
    background-color: #715F82;
}

.blue-btn-map {
    background-color: #9DBFC9;
}

@media (min-width: 600px) and (max-width: 1023px) {
    .map-container {
        width: 90%;
        height: 70vh;
        padding: 15px;
    }

    .map-container h1 {
        font-size: 20px;
    }

    .btn-container-left,
    .btn-container-right {
        max-width: 25em;
    }

    .map-container button {
        padding: 9px 11px;
        font-size: 14px;
        max-width: 28vw;
    }

    .map-container .icon {
        font-size: 19px;
    }
}

@media (min-width: 1024px) {
    .map-container {
        width: 60%;
        height: 60vh;
        padding: 20px;
    }

    .map-container h1 {
        font-size: 24px;
    }

    .btn-container-left,
    .btn-container-right {
        max-width: 35em;
    }

    .map-container button {
        padding: 10px 12px;
        font-size: 16px;
        max-width: 25vw;
    }

    .map-container .icon {
        font-size: 20px;
    }
}

@media (min-width: 1440px) {
    .map-container {
        width: 50%;
        height: 50vh;
        padding: 25px;
    }

    .map-container h1 {
        font-size: 28px;
    }

    .btn-container-left,
    .btn-container-right {
        max-width: 30em;
    }

    .map-container button {
        padding: 12px 14px;
        font-size: 18px;
        max-width: 20vw;
    }

    .map-container .icon {
        font-size: 22px;
    }
}
